<!-- scrum board participant -->

<div class="container-fluid" id="scrumBoardParticipant">
    <div class="row pt-5">
        <div class="col">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">
                    Session ID: {{ sessionId }}
                </h4>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
        </div>
        <div class="col ">
            <div class="alert alert-danger" role="alert" id="currentTopicDiv">
                <h4 class="alert-heading" id="currentTopic">No Topic Found!</h4>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- scrum sequence -->

<div class="container-fluid" id="scrumSequence">
    <div class="row pt-2">
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">3</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">8</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">3</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">8</h5>
                </div>
            </div>
        </div>
    </div>
</div>